{% extends 'navbar.html' %}

{% block content %}
    <div class="jumbotron">
    <h1 class="text-center">DASHBOARD</h1>
    <br>

        <h2>Profile</h2>
            <p>Role : {{ request.session.role }}</p>
            <p>Nama : {{ request.session.nama }}</p>
            <br>
            <h5>Alamat</h5>
            <p>Kelurahan : {{ request.session.kelurahan}}</p>
            <p>Kecamatan : {{ request.session.kecamatan }}</p>
            <p>kabupaten : {{ request.session.kabupaten }}</p>
            <p>NO Telepon : {{ request.session.no_telepon }}</p>
            {% if request.session.organisasi %}
                <p>nama organisasi : {{ request.session.organisasi }}</p>
            {% endif %}
            {% if request.session.sim %}
                <p>sim : {{ request.session.sim }}</p>
            {% endif %}
  
        <br>

{#        <form action="/logout">#}
{#            <input class="btn btn-danger" type="submit" value="LOGOUT" />#}
{#        </form>#}

{#        ISI MENU MENU TRIGGER DIBAGIAN SINI#}
        <h2>MENU</h2>
        <br>

        {#FITUR UNTUK SEMUA#}

        <a href="kendaraan/read">List Kendaraan</a>
        
        <br>

        {#FITUR UNTUK ADMIN SATGAS#}
        {% if request.session.role == 'admin satgas' %}

        <a href="kendaraan/add">Tambah Kendaraan</a>
        <br>
        <a href="kendaraan/read">List Kendaraan</a>
        <br>
        <a href="lokasi/create">Tambah Lokasi</a>
        <br>
        <a href="lokasi/read">List Lokasi</a>
        <br>
        <a href="batch">Batch Pengiriman</a>
        <br>
        <a href="pesanansumberdaya/create">Create Pesanan Sumber Daya</a>
        <br>
        <a href="pesanansumberdaya/read">Read Pesanan Sumber Daya</a>
        <br>
        <a href="stokfaskes/create">Create Stok Faskes</a>
        <br>
        <a href="stokfaskes/read">Read Stok Faskes</a>
        <br>
        <a href="faskes/read">Read Fasilitas Kesehatan</a>
        <br>

        {% endif %}

        {#FITUR UNTUK SUPPLIER#}
        {% if request.session.role == 'supplier' %}
            <p>Ini Fitur untuk supplier</p>
            <a href="faskes/read">List Fasilitas Kesehatan</a>
            <br>


        {% endif %}

        {#FITUR UNTUK PETUGAS DISTRIBUTOR#}
        {% if request.session.role == 'petugas distributor' %}
            <p>Ini Fitur untuk petugas distributor</p>
            <a href="kendaraan/read">List Kendaraan</a>
            <br>

        {% endif %}

        {#FITUR UNTUK PETUGAS FASKES#}
        {% if request.session.role == 'petugas faskes' %}
            <p>Ini Fitur untuk petugas faskes</p>


        {% endif %}

    </div>

{% endblock %}