{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidia</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
    <div> </br> </div>
    <div class="row">
        <p style="color:white;">Selamat Datang di </br> SIDIA</p>
    </div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div class="opsi">
                <a href="/login" class="option">Login</a>
                <a href="/register" class="option">Register</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
