{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIDIA</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="row">
        <h2 style="color:white;" class="regis">REGISTRASI SEBAGAI:</h2>
    </div>
    <div class="row">
        <div class="col-sm">
            <a href="/register_admin" class="option">Admin Satgas</a>
            <a href="/register_supplier" class="option">Supplier</a>
            <a href="/register_petugas_distribusi" class="option">Petugas Distribusi</a>
            <a href="/register_petugas_faskes" class="option">Petugas Faskes</a>
        </div>
    </div>
</div>
</body>
</html>
