{% extends 'navbar.html' %}

{% block content %}

    <div class="jumbotron">
    <h1 class="text-center">CREATE PESANAN SUMBER DAYA</h1>
    <br>

    {% if messages %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <b>No Transaksi: {{ id }}</b>
    <br>
    <b>Petugas Satgas: {{ petugas }}</b>
    <br>
    <br>

    <form action='' id='createPesananForm' method="POST" class="form-group" data-supplier-url="{% url 'pesanansumberdaya:get-item-by-supplier' %}">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}
        <div class="centre-items">
            <input type="submit" class="btn btn-primary" value="Tambah Item Pesanan Sumber Daya">
        </div>
    </form>
    </div>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_supplier").change(function () {
            const url = $("#createPesananForm").attr("data-supplier-url"); 
            const supplierUsername = $(this).val(); 

            console.log(url);
            console.log(supplierUsername);
            $.ajax({                       
                url: url,                    
                data: {
                    'supplier': supplierUsername       
                },
                success: function (data) {  
                    $("#id_kode_item").html(data);
                }
            });

        });
    </script>

{% endblock %}