{% extends 'navbar.html' %}

{% block content %}
    <div class="jumbotron">
    <h1 class="text-center">DETAIL PESANAN SUMBER DAYA</h1>
    <br>
    
    <b>No Transaksi: {{ id }}</b>
    <br>
    <b>Petugas Satgas: {{ petugas }}</b>
    <br>
    <b>Tanggal: {{ tanggal }}</b>
    <br>
    <b>Supplier: {{ username_supplier }}</b>
    <br>
    <b>Daftar Pesanan Item: </b>
    <br>
    
    {% if daftar_pesanan_item %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th><b>No Urut</b></th>
                <th><b>Item</b></th>
                <th><b>Harga Kumulatif</b></th>
                <th><b>Jumlah Item</b></th>
            </tr>
        </thead>

        {% for pesanansumberdaya in daftar_pesanan_item %}
        <tr>
            <th>{{ pesanansumberdaya.no_urut }}</th>
            <th>{{ pesanansumberdaya.kode_item_sumber_daya }}</th>
            <th>{{ pesanansumberdaya.harga_kumulatif }}</th>
            <th>{{ pesanansumberdaya.jumlah_item }}</th>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <b>Total Harga: {{ total_harga }}</b>
    </div>

{% endblock %}