{% extends 'navbar.html' %}

{% block content %}
    <div class="jumbotron">
    <h1 class="text-center">READ PESANAN SUMBER DAYA</h1>
    <br>

    {% if messages %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% if data_pesanansumberdaya %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th><b>No Pesanan</b></th>
                <th><b>Petugas Satgas</b></th>
                <th><b>Tanggal</b></th>
                <th><b>Total Berat</b></th>
                <th><b>Total Harga</b></th>
                <th><b>Status</b></th>
                {% if request.session.role == 'admin satgas' %}
                    <th><b>Action</b></th>
                {% endif %}
            </tr>
        </thead>
        {% for pesanansumberdaya in data_pesanansumberdaya %}
        <tr>
            <th>{{ pesanansumberdaya.nomor_pesanan }}</th>
            <th>{{ pesanansumberdaya.username_admin_satgas }}</th>
            <th>{{ pesanansumberdaya.tanggal }}</th>
            <th>{{ pesanansumberdaya.total_item }}</th>
            <th>{{ pesanansumberdaya.total_harga }}</th>
            <th>{{ pesanansumberdaya.status }}</th>
            {% if request.session.role == 'admin satgas' %}
                <th><a href="{% url 'pesanansumberdaya:update' my_id=pesanansumberdaya.nomor_pesanan %}"><button class="btn btn-primary" type="submit">Update</button></a>
                <a href="{% url 'pesanansumberdaya:delete' my_id=pesanansumberdaya.nomor_pesanan %}"><button class="btn btn-danger" type="submit">Delete</button></a>
                <br>
                <br>
                <a href="{% url 'pesanansumberdaya:detail' my_id=pesanansumberdaya.nomor_pesanan %}"><button class="btn btn-primary" type="submit">Detail</button></a>
                <a href="{% url 'pesanansumberdaya:delete' my_id=pesanansumberdaya.nomor_pesanan %}"><button class="btn btn-primary" type="submit">Riwayat</button></a></th>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}


    </div>
{% endblock %}