{% extends 'navbar.html' %}

{% block content %}
    <div class="jumbotron">
    <h1 class="text-center">LIST KENDARAAN</h1>
    <br>

    {% if messages %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% if data_kendaraan %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
{#                <th><b>No</b></th>#}
                <th><b>No Kendaraan</b></th>
                <th><b>Nama Kendaraan</b></th>
                <th><b>Jenis Kendaraan</b></th>
                <th><b>Berat Max (Kg)</b></th>
                {% if request.session.role == 'admin satgas' %}
                    <th><b>Action</b></th>
                {% endif %}
            </tr>
        </thead>
        {% for kendaraan in data_kendaraan %}
        <tr>
            <th>{{ kendaraan.nomor }}</th>
            <th>{{ kendaraan.nama }}</th>
            <th>{{ kendaraan.jenis_kendaraan }}</th>
            <th>{{ kendaraan.berat_maksimum }}</th>
            {% if request.session.role == 'admin satgas' %}
                <th><a href="{% url 'kendaraan:update' my_id=kendaraan.nomor %}"><button class="btn btn-primary" type="submit">Update</button></a>
                <a href="{% url 'kendaraan:delete' my_id=kendaraan.nomor %}"><button class="btn btn-danger" type="submit">Delete</button></a></th>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}


    </div>
{% endblock %}