{% extends 'navbar.html' %}

{% block content %}
    <div class="jumbotron">
    <h1 class="text-center">LIST FASILITAS KESEHATAN</h1>
    <br>

    {% if messages %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% if data_faskes %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th><b>Kode Faskes</b></th>
                <th><b>ID Lokasi</b></th>
                <th><b>Lokasi</b></th>
                <th><b>Petugas Faskes</b></th>
                <th><b>Kode Tipe Faskes</b></th>
                <th><b>Tipe Faskes</b></th>
            </tr>
        </thead>
        {% for data in data_faskes %}
        <tr>
            <th>{{ data.kode_faskes_nasional }}</th>
            <th>{{ data.id_lokasi }}</th>
            <th>{{ data.lokasi }}</th>
            <th>{{ data.username_petugas }}</th>
            <th>{{ data.kode_tipe_faskes }}</th>
            <th>{{ data.tipe_faskes }}</th>
            {% if request.session.role == 'admin satgas' %}
                <th><a href="{% url 'faskes:delete' my_id=data.kode_faskes_nasional %}"><button class="btn btn-danger" type="submit">Delete</button></a></th>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}


    </div>
{% endblock %}