body {
    background: #303C6C;
    font-family: Raleway;
    font-weight: 500;
}

h2 {
    text-align: center;
    font-family: Raleway;
}

p {
    font-size: 65px;
    text-align: center;
    font-family: Raleway;
}

.regis {
    margin-top: 50px;
}

.col-sm {
    text-align: center;
    margin-top: 100px;
}

.opsi {
    margin-top: 200px;
}

.option {
    color: white;
    font-size: 1.6em;
    font-weight: 1px;
    margin-right: 20px;
    padding: 3px 35px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 25px;
}

.option:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-family: Raleway;
    background-color: #FAB76E;
}
