{% extends 'navbar.html' %}

{% block content %}

    <div class="jumbotron">
    <h1 class="text-center">UPDATE KENDARAAN {{ nomor }}</h1>
    <br>

    {% if messages %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% if data_lokasi %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
{#                <th><b>No</b></th>#}
                <th><b>ID</b></th>
                <th><b>Provinsi</b></th>
                <th><b>Kab/Kota</b></th>
                <th><b>Kecamatan</b></th>
                <th><b>Kelurahan</b></th>
                <th><b>Jalan</b></th>
                {% if request.session.role == 'admin satgas' %}
                    <th><b>Action</b></th>
                {% endif %}
            </tr>
        </thead>
        {% for lokasi in data_lokasi %}
        <tr>
            <th>{{ lokasi.id }}</th>
            <th>{{ lokasi.provinsi }}</th>
            <th>{{ lokasi.kabkot }}</th>
            <th>{{ lokasi.kecamatan }}</th>
            <th>{{ lokasi.kelurahan }}</th>
            <th>{{ lokasi.jalan_no }}</th>
            {% if request.session.role == 'admin satgas' %}
                <th><a href="{% url 'lokasi:update_lokasi' my_id=lokasi.id %}"><button class="btn btn-primary" type="submit">Update</button></a></th>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    </div>

{% endblock %}