{% extends 'navbar.html' %}

{% block content %}

    <div class="jumbotron">
    <h1 class="text-center">UPDATE LOKASI {{ lokasi_id }}</h1>
    <br>

    {% if messages %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form action='{% url 'lokasi:update_lokasi' my_id=lokasi_id %}' method="POST" class="form-group">
        {% csrf_token %}
        <div class="form-group">
        <label for="id">Id:</label>
        <input type="text" class="form-control" disabled value="{{ lokasi_id }}" name="id" id="id">
        </div>
        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}
        <div class="centre-items">
            <input type="submit" class="btn btn-primary" value="Update Lokasi">
        </div>
    </form>

    </div>

{% endblock %}