{% extends 'navbar.html' %}

{% block content %}
    <div class="jumbotron">
    <h1 class="text-center">LIST KENDARAAN</h1>
    <br>

    {% if messages %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% if data_stokfaskes %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th><b>Kode Faskes</b></th>
                <th><b>Kode Item Sumber Daya</b></th>
                <th><b>Jumlah</b></th>
                <th><b>Action</b></th>
            </tr>
        </thead>
        {% for data in data_stokfaskes %}
        <tr>
            <th>{{ data.kode_faskes }}</th>
            <th>{{ data.kode_item_sumber_daya }}</th>
            <th>{{ data.jumlah }}</th>
            {% if request.session.role == 'admin satgas' %}
                <th><a href="{% url 'stokfaskes:update' my_id=data.kode_faskes %}"><button class="btn btn-primary" type="submit">Update</button></a>
                <a href="{% url 'stokfaskes:delete' my_id=data.kode_faskes %}"><button class="btn btn-danger" type="submit">Delete</button></a></th>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}


    </div>
{% endblock %}