{% extends 'navbar.html' %}

{% block content %}
    <div class="jumbotron">
    <h1 class="text-center">UPDATE STOK FASKES</h1>
    <br>
    
    <b>Kode Faskes: {{ id }}</b>
    <br>
    <b>Item: {{ item }}</b>
    <br>
    <br>
    {% if messages %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}

{#    #}
    <form action='{% url 'stokfaskes:update' my_id=kode_faskes %}' method="POST" class="form-group">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}
        <div class="centre-items">
            <input type="submit" class="btn btn-primary" value="Update Stok Faskes">
        </div>
    </form>
    </div>

{% endblock %}