{% extends 'navbar.html' %}

{% block content %}

    <div class="jumbotron">
    <h1 class="text-center">FORM BATCH PENGIRIMAN {{ no }}</h1>
    <br>

    {% if messages %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form action='{% url 'batch_pengiriman:create_batch' my_id=no nama=nama %}' method="POST" class="form-group">
        {% csrf_token %}
        <div class="form-group">
        <label for="petugas_satgas">Petugas Satgas:</label>
        <input type="text" class="form-control" disabled value="{{ nama }}" name="petugas_satgas" id="petugas_satgas">
        </div>

        <div class="form-group">
        <label for="no">Nomor Transaksi Sumber Daya:</label>
        <input type="text" class="form-control" disabled value="{{ no }}" name="no" id="no">
        </div>

        <p>Buat Batch Pengiriman:</p>
        <div class="form-group">
        <label for="kode">Kode Batch:</label>
        <input type="text" class="form-control" disabled value="{{ kode_bp }}" name="kode" id="kode">
        </div>

        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}
        <div class="centre-items">
            <input type="submit" class="btn btn-primary" value="Tambah Batch">
        </div>
    </form>

    <br>
    <p>Daftar Batch Pengiriman</p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
{#                <th><b>No</b></th>#}
                <th><b>Kode Batch</b></th>
                <th><b>Kendaraan</b></th>
                <th><b>Petugas Distribusi</b></th>
                <th><b>Asal</b></th>
                <th><b>Tujuan</b></th>
            </tr>
        </thead>
        {% for batch in data_batch_tentu %}
        <tr>
            <th>{{ batch.kode }}</th>
            <th>{{ batch.kendaraan }}</th>
            <th>{{ batch.petugas }}</th>
            <th>{{ batch.id_lokasi_asal }}</th>
            <th>{{ batch.id_lokasi_tujuan }}</th>
        </tr>
        {% endfor %}
    </table>


    </div>

{% endblock %}