{% extends 'navbar.html' %}

{% block content %}

    <div class="jumbotron">
    <h1 class="text-center">BATCH PENGIRIMAN</h1>
    <br>

    {% if messages %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }} alert alert-danger" role="alert"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}

    {% if data_batch %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
{#                <th><b>No</b></th>#}
                <th><b>No. Transaksi</b></th>
                <th><b>Petugas Faskes</b></th>
                <th><b>Faskes</b></th>
                <th><b>Total Berat (Kg)</b></th>
                <th><b>Status Permohonan</b></th>
                <th><b>Status Batch</b></th>
                {% if request.session.role == 'admin satgas' %}
                    <th><b>Action</b></th>
                {% endif %}
            </tr>
        </thead>
        {% for batch in data_batch %}
        <tr>
            <th>{{ batch.no_transaksi_sumber_daya }}</th>
            <th>{{ batch.nama }}</th>
            <th>Faskes {{ batch.id_lokasi }}</th>
            <th>{{ batch.total_berat }}</th>
            <th>{{ batch.status_permohonan }}</th>
            <th>
                {% if batch.status_pengiriman %}
                    {{ batch.status_pengiriman }}
                {% endif %}
            </th>
            {% if batch.status_permohonan == 'PRO' %}
                <th><a href="{% url 'batch_pengiriman:create_batch' my_id=batch.no_transaksi_sumber_daya nama=batch.nama %}"><button class="btn btn-primary" type="submit">Buat Batch</button></a></th>
            {% elif batch.status_permohonan == "FIN" or batch.status_permohonan == "MAS" %}
                <th><a href="{% url 'batch_pengiriman:create_batch' my_id=batch.no_transaksi_sumber_daya nama=batch.nama %}"><button class="btn btn-success" type="submit">Detail</button></a></th>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    </div>

{% endblock %}